 <%- include('./partials/_header.ejs') %>

 <header>
     <div id="intro" class="view">
		 <div id="bkg">
			 <div id="titleWord">
			 <h1  class="display-3 display-block font-weight-bold blue-text pt-5 mb-2">I Blog,</h2>
			 <h1 class="display-4 display-block font-weight-bold white-text pt-5 mb-2">记录生活点滴</h2>
			 </div>
		 </div>

        <div id="resgiter">
			<div id="typeWord">
						 <h2 id="logo" class="display-4 display-block font-weight-bold blue-text pt-5 mb-2">I Blog</h2>

                         <hr class="hr-light">

                         <p style="font-size: 35px;" class=" white-text font-weight-bold">I Blog欢迎您！我们为您提供纸笔，您与我们分享生活</p>
                         
		    </div>
			
			<div id="typeButton">
				            <a href="/users/register"   class=" font-weight-bold">SIGNUP</a>
							 
							<h2 style="margin-left: 22%; font-size: 20px;" class="display-block font-weight-bold white-text">or</h1>
				
				            <a href="/users/login"  class="font-weight-bold">LOGIN&nbsp;&nbsp;</a>
			</div>

     </div>

 </header>
 </div>
 </main>


 <%- include('./partials/_footer.ejs') %>